<psp-header-component [loader]="isPending">
    Users
</psp-header-component>

<mdl-list>
    <mdl-list-item *ngFor="let user of users" lines="2">
        <mdl-list-item-primary-content>

            <mdl-icon mdl-list-item-avatar>person</mdl-icon>
            <span>{{user.first_name}} {{user.last_name}}</span>
            <mdl-list-item-sub-title>
                {{user.gender | gender}}
            </mdl-list-item-sub-title>

        </mdl-list-item-primary-content>

        <mdl-list-item-secondary-content>

            <button (click)="editUser($event, user)"
                    mdl-button
                    mdl-button-type="raised"
                    mdl-colored="primary"
                    mdl-ripple>
                <mdl-icon>create</mdl-icon> Edit
            </button>

        </mdl-list-item-secondary-content>
    </mdl-list-item>
</mdl-list>

<div class="buttons">
    <button mdl-button
            mdl-button-type="raised"
            mdl-colored="primary"
            mdl-ripple (click)="createUser($event)">
        Create User
    </button>
</div>
