<psp-header-component [loader]="isPending">
    Remove Candidates
</psp-header-component>

<div class="mdl-dialog__content">
    <mdl-list>
        <mdl-list-item *ngFor="let candidate of course.candidates" lines="1">
            <mdl-list-item-primary-content>
                <mdl-icon mdl-list-item-avatar>person</mdl-icon>
                <span>
                    {{candidate.first_name}} {{candidate.last_name}}
                </span>
            </mdl-list-item-primary-content>
            <mdl-list-item-secondary-content>
                <button mdl-button
                        mdl-button-type="raised"
                        mdl-colored="accent"
                        mdl-ripple
                        [disabled]="isPending"
                        (click)="removeFromCourse(candidate.id)">
                    <mdl-icon small-icon>remove</mdl-icon> remove
                </button>
            </mdl-list-item-secondary-content>
        </mdl-list-item>
    </mdl-list>
</div>
<div class="buttons">
    <button
            mdl-button
            mdl-button-type="raised"
            mdl-colored="primary"
            (click)="closeDialog()"
            mdl-ripple>
        Close
    </button>
    <psp-notification [notification]="notification"></psp-notification>
</div>