<section mdl-shadow="2">
    <mdl-layout #mdlLayout="mdlLayout" mdl-layout-fixed-header mdl-layout-header-seamed>
        <mdl-layout-header>
            <mdl-layout-header-row>
                <mdl-layout-title>Navigate</mdl-layout-title>
            </mdl-layout-header-row>
        </mdl-layout-header>
        <mdl-layout-drawer>
            <mdl-layout-title>Menu</mdl-layout-title>
            <psp-nav-component [mdl]="mdlLayout"></psp-nav-component>
        </mdl-layout-drawer>
        <mdl-layout-content>
            <router-outlet></router-outlet>
        </mdl-layout-content>
    </mdl-layout>
</section>

<dialog-outlet></dialog-outlet>